#row {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 15px;
}

.center {
  width: 80vh;
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 15px;
}
